<button (click)="pdf.saveAs('test1.pdf')">DOWNLOAD</button>
<kendo-pdf-export #pdf paperSize="A4">
  <div class="row small-up-1 medium-up-2 large-up-3">
    <kendo-chart [categoryAxis]="{ categories: categories }">
      <kendo-chart-title text="Gross domestic product growth /GDP annual %/"></kendo-chart-title>
      <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
      <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
      <kendo-chart-series>
        <kendo-chart-series-item *ngFor="let item of series"
          type="line" style="smooth" [data]="item.data" [name]="item.name">
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
  <p>Some text</p>
</kendo-pdf-export>
